.App{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(red);
  min-height:500vh;
  color:blue;
}
nav{
  background-color:orange;
  margin: auto;
  padding: 1rem 2rem;
}
  nav ul{
  display: flex;
  gap:2rem;
  list-style:none;
  }
